<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ECharts3 Ajax</title>
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
    <!-- ECharts 3 引入 -->
    <script src="http://echarts.baidu.com/dist/echarts.min.js"></script>
</head>

<body>
    <!--为ECharts准备一个具备大小（宽高）的Dom-->
    <div id="main" style="width: 1000px;height:600px;margin-left:auto;margin-right:auto;border:1px solid #ccc;padding:10px;"></div>
    
    <script type="text/javascript">
    // 作者：hhh5460
    // 时间：2017.8.19
    //--- 折柱 ---
        var myChart = echarts.init(document.getElementById('main'));
    
        var upColor = '#00da3c';
        var downColor = '#ec0000';


        var data= {values:[],
            x:[],
            volumes:[]    
        }



    myChart.setOption(option = {
        backgroundColor: '#fff',
        animation: false,
        legend: {
            bottom: 10,
            left: 'center',
            data: ['Stock Price','Volume']
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross'
            },
            backgroundColor: 'rgba(245, 245, 245, 0.8)',
            borderWidth: 1,
            borderColor: '#ccc',
            padding: 10,
            textStyle: {
                color: '#000'
            },
            position: function (pos, params, el, elRect, size) {
                var obj = {top: 10};
                obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 30;
                return obj;
            }
            // extraCssText: 'width: 170px'
        },
        axisPointer: {
            link: {xAxisIndex: 'all'},
            label: {
                backgroundColor: '#777'
            }
        },
        toolbox: {
            feature: {
                dataZoom: {
                    yAxisIndex: false
                },
                brush: {
                    type: ['lineX', 'clear']
                }
            }
        },
        visualMap: {
            show: false,
            seriesIndex: 1,
            dimension: 2,
            pieces: [{
                value: 1,
                color: downColor
            }, {
                value: -1,
                color: upColor
            }]
        },
        grid: [
            {
                left: '10%',
                right: '8%',
                height: '50%'
            },
            {
                left: '10%',
                right: '8%',
                top: '63%',
                height: '16%'
            }
        ],
        xAxis: [
            {
                type: 'category',
                data: data.x,
                scale: true,
                boundaryGap : true,
                axisLine: {onZero: false},
                splitLine: {show: false},
                splitNumber: 20,
                min: 'dataMin',
                max: 'dataMax',
                axisPointer: {
                    z: 100
                }
            },
            {
                type: 'category',
                gridIndex: 1,
                data: data.x,
                scale: true,
                boundaryGap : true,
                axisLine: {onZero: false},
                axisTick: {show: false},
                splitLine: {show: false},
                axisLabel: {show: false},
                splitNumber: 20,
                min: 'dataMin',
                max: 'dataMax'

            }
        ],
        yAxis: [
            {
                scale: true,
                splitArea: {
                    show: true
                }
            },
            {
                scale: false,
                gridIndex: 1,
                splitNumber: 2,
                axisLabel: {show: false},
                axisLine: {show: false},
                axisTick: {show: false},
                splitLine: {show: false}
            }
        ],
        dataZoom: [
            {
                type: 'inside',
                xAxisIndex: [0, 1],
                start: 0,
                end: 100
            },
            {
                show: true,
                xAxisIndex: [0, 1],
                type: 'slider',
                top: '85%',
                start: 0,
                end: 100
            }
        ],
        series: [
            {
                name: 'Stock Price',
                type: 'candlestick',
                data: data.values,
                itemStyle: {
                    normal: {
                        color: downColor,
                        color0: upColor,
                        borderColor: null,
                        borderColor0: null
                    }
                
                }
            },
            {
                name: 'Volume',
                type: 'bar',
                xAxisIndex: 1,
                yAxisIndex: 1,
                data: data.volumes
            }
        ]
    }, true);
    
        
    //准备好统一的 callback 函数
    var update_mychart = function (res) { //res是json格式的response对象
        
        // 隐藏加载动画
        myChart.hideLoading();
        
        // 准备数据

        //alert(JSON.stringify(data))
        data.x.push(res.DataX);
        data.values.push(res.DataValue);
        data.volumes.push(res.DataVol);
        // alert(JSON.stringify(data))
      //  if (time.length >= 1000){time.shift();cpu1.shift();cpu2.shift();cpu3.shift();cpu4.shift();}
        
        //填入数据
        myChart.setOption({
           //xAxis: [{data: data.x},{data: data.x,gridIndex: 1,}]
            //series: [{name: 'Stock Price',data: data.values},{name: 'Volume',data: data.volumes,xAxisIndex: 1,yAxisIndex: 1,}]
        xAxis: [
            {
                type: 'category',
                data: data.x,
                scale: true,
                boundaryGap : true,
                axisLine: {onZero: false},
                splitLine: {show: false},
                splitNumber: 20,
                min: 'dataMin',
                max: 'dataMax',
                axisPointer: {
                    z: 100
                }
            },
            {
                type: 'category',
                gridIndex: 1,
                data: data.x,
                scale: true,
                boundaryGap : true,
                axisLine: {onZero: false},
                axisTick: {show: false},
                splitLine: {show: false},
                axisLabel: {show: false},
                splitNumber: 20,
                min: 'dataMin',
                max: 'dataMax'

            }
        ],
        yAxis: [
            {
                scale: true,
                splitArea: {
                    show: true
                }
            },
            {
                scale: false,
                gridIndex: 1,
                splitNumber: 2,
                axisLabel: {show: false},
                axisLine: {show: false},
                axisTick: {show: false},
                splitLine: {show: false}
            }
        ],
        series: [
            {
                name: 'Stock Price',
                type: 'candlestick',
                data: data.values,
                itemStyle: {
                    normal: {
                        color: downColor,
                        color0: upColor,
                        borderColor: null,
                        borderColor0: null
                    }
                
                }
            },
            {
                name: 'Volume',
                type: 'bar',
                xAxisIndex: 1,
                yAxisIndex: 1,
                data: data.volumes
            }
        ]
        });
    
    };
    
    // 首次显示加载动画
   myChart.showLoading();

    
    // 建立socket连接，等待服务器“推送”数据，用回调函数更新图表
   $(document).ready(function() {
       namespace = '/test';
       var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);        
       socket.on('server_response', function(res) {update_mychart(res); });
    });
    
    </script>
</body>
</html>